.soldiers {
    display: flex;                                    /*  create a flexible container for elements */
  }
  
  .soldiers :hover {                                  /*create the "hover effect" textbook */
  border-color:#f1ffac;
  color:#f1ffac;
  transition:all 0.3s;
  transform:translateY(-0.2em);
  cursor:pointer;
  }
  
  .text-box-for-soldiers {
    width: 50%;                                        /*specific width and height*/
    height: 500px;
    padding: 20px;                                     /*add padding*/
    background-color: #021691;                     /*background color*/
    color: black;
    align-items: center;
    justify-content: center;                          /*  align the flex items along the main axis within a flex container. In this case, it will center the items horizontally within the container.*/
    font-size: 20px;
    box-sizing: border-box;                           /*specify how the size of an element should be calculated*/
    border-radius: 30px;
    border: 2px solid black;             
    
  }
  
  .text-box-for-soldiers h1 {
    text-decoration: underline;                        /*underline the text*/
  }
  
  
  
  
  
  
  .women {
      display: flex;
      flex-direction: row-reverse;                     /* this will reverse the order of the elements within the container, so the text box will be on the right and the image on the left */
      align-items: center;
  }
  
  .text-box-for-women {
      width: 50%;                                      /*width should be specified*/
      height: 500px;                                   /* set the height to match the height of the  text box */
      padding: 20px;                                   /*add some padding*/
      background-color: #021691;   
      color: black;
      align-items: center;
      justify-content: center;                        /*  align the flex items along the main axis within a flex container. In this case, it will center the items horizontally within the container.*/ 
      font-size: 20px;
      box-sizing: border-box;                         /*specify how the size of an element should be calculated*/
      border-radius: 30px;                            /*add curves to the box*/
      border: 2px solid black;
     
  }
  
  .text-box-for-women h1 {
    text-decoration: underline;                       /*underlined text*/
  }
  
  
  .women :hover {                                 /*creating the hover*/
  border-color:#f1ffac;                                  
  color:#f1ffac;
  transition:all 0.3s;                                /*time to transition for the hover effect*/
  transform:translateY(-0.2em);                       /*make it go upside in the hover*/
  cursor:pointer;                                     /*cursor is changing to a pointer*/
  }
  
  
  .africans {
    display: flex;                                   /*  create a flexible container for elements */
  }
  
  .africans :hover {                              /*hover for the  causes*/
  border-color:#f1ffac;
  color:#f1ffac;
  transition:all 0.3s;                                /*transition time*/
  transform:translateY(-0.2em);                       /*make it go upside*/
  cursor:pointer;                                     /*cursor is changing to a pointer*/
  }
  
  
  .text-box-for-africans {                            /*creating the textbox for the  causes*/   
    width: 50%;                                         /*specific dimensions,width,height,*/
    height: 500px;
    padding: 20px;                                      /*adding some padding*/
    background-color: #021691;                       /*background color*/
    color: black;
    align-items: center; 
    justify-content: center;                           /*align the flex items along the main axis within a flex container. In this case, it will center the items horizontally within the container.*/    
    font-size: 20px;                                   /*size of the text*/
    box-sizing: border-box;                            /*specify how the size of an element should be calculated*/
    border-radius: 30px;                               /* making the box with curves*/
    border: 2px solid black;
    
  }
  
  .text-box-for-africans h1 {                        /* header of the  causes in the website should be undelined*/
    text-decoration: underline;
  }
  
  
  
  .civilians {
      display: flex;                                  /*create a flexible container for elements within the webpage*/
      flex-direction: row-reverse;                    /* this will reverse the order of the elements within the container, so the text box will be on the right and the image on the left */
      align-items: center;                            
  }
  
  .text-box-for-civilians {
      width: 50%;
      height: 500px;                                 /* set the height to match the height of the military text box */
      padding: 20px;                                 /*adding some padding*/
      background-color:#021691;                  /*background color*/
      color: black;
      align-items: center;
      justify-content: center;                     /*align the flex items along the main axis within a flex container. In this case, it will center the items horizontally within the container.*/
      font-size: 20px;
      box-sizing: border-box;                      /*specify how the size of an element should be calculated*/
      border-radius: 30px;                         /*adding curves to the border of the box*/
      border: 2px solid black;                   /*color of the outside of the box and how thick it is */
     
  }
  
  .text-box-for-civilians h1 {
    text-decoration: underline;                     /*header for the military causes should be underlined*/
  }
  
  
  .civilians :hover {                               /*creating the hover for the military causes*/
  border-color:#f1ffac;
  color:#f1ffac;
  transition:all 0.3s;                             /*transition time to change color*/
  transform:translateY(-0.2em);                    /*make it go upside */
  cursor:pointer;                                  /*cursor should change to a pointer */
  }
  
  
  .references1 {
    display: flex;                                /*create a flexible container for elements within the webpage*/
  }
  
  .references1 :hover {                           /*creating the hover for the references1*/
  border-color:#f1ffac;
  color:#f1ffac;
  transition:all 0.3s;                            /*transition time*/
  transform:translateY(-0.2em);                   /*make it go upside*/
  cursor:pointer;                                 /*cursor should change to a pointer*/
  }
  
  .text-box-for-references1 {               
    width: 50%;                                   /*specific width,height and adding some padding*/
    height: 500px;
    padding: 20px;
    background-color: #021691;                /*background color*/
    color: black;
    align-items: center;
    justify-content: center;                     /*align the flex items along the main axis within a flex container. In this case, it will center the items horizontally within the container.*/
    font-size: 20px; 
    box-sizing: border-box;                      /*specify how the size of an element should be calculated*/
    border-radius: 30px;
    border: 2px solid black;
    
  }
  
  .text-box-for-references1 h1 {
    text-decoration: underline;
  }
  
  .references2 {
      display: flex;
      flex-direction: row-reverse;              /* this will reverse the order of the elements within the container, so the text box will be on the right and the image on the left */
      align-items: center;
  }
  
  .text-box-for-references2 {
      width: 50%;
      height: 500px;                            /* set the height to match the height of the references text box */
      padding: 20px;
      background-color:#021691;   
      color: black;
      align-items: center;
      justify-content: center;                  /* add some space between them */
      font-size: 20px;
      box-sizing: border-box;                   /*specify how the size of an element should be calculated*/
      border-radius: 30px;
      border: 2px solid black;
     
  }
  
  .text-box-for-references2 h1 {
    text-decoration: underline;                /*title of the rreferces2 should be underlined*/
  }
  
  
  .references2 :hover {                                          /*creatignthe hover effect for the references2*/
  border-color:#f1ffac;                                        /*border color*/
  color:#f1ffac;                                              /*color of the text*/
  transition:all 0.3s;                                          /*transition time*/
  transform:translateY(-0.2em);                                 /*make it go upside*/
  cursor:pointer;                                               /*cursor should change to a pointer*/
  }




  #i{
    width: 50%;                                     /* image should have specific dimensions to match the corresponding text in each category */
    height: 500px;                                  /* set the height to match the height of the text box */
    object-fit: cover;                              /* this will ensure that the image fills the entire container, but preserves its aspect ratio */
    box-sizing: border-box;                        /*specify how the size of an element should be calculated*/
    border-radius: 30px;
    border: 2px solid black;
    }
